.layout {
    &-header {
        padding: 0 20px;
        display: flex;
        height: 50px;
        background: #262626;
        justify-content: space-between;

        &__left {
            display: inline-flex;
            align-items: center;
        }

        &__right {
            display: inline-flex;
            align-items: center;
            color: #fff;
        }

    }

}


.header {

    &-text {
        text-align: center;
        color: #cccccc;

        &__project {
            font-size: 14px;
        }

        &__name {
            font-size: 12px;
        }
    }

    &-project {
        display: inline-flex;
        align-items: center;
        color: #bfbfbf;
        cursor: pointer;

        &:hover {
            color: #fff !important;
        }

        &__dropdown {
            top: 56px !important;

            :global {

                .ant-dropdown-menu {
                    background-color: #262626;
                    border-radius: 4px;
                    opacity: 0.9;

                    &-item {
                        padding: 10px 30px;
                        color: #bfbfbf;

                        &-active {
                            background: #515151;
                        }
                    }
                }

                .ant-dropdown-menu-item:hover,
                .ant-dropdown-menu-submenu-title:hover {
                    background-color: #515151;
                }

                .ant-dropdown-menu-item {
                    padding: 10px 30px;
                    color: #bfbfbf;
                }

                .ant-dropdown-menu-item {
                    padding: 10px 30px;
                    color: #bfbfbf;
                }
            }
        }

        &__name {
            margin-right: 8px;
            font-size: 12px;
        }
    }

    &-info {
        margin-left: 44px;
        display: inline-flex;
        align-items: center;
        color: #bfbfbf;

        &:hover {
            color: #fff !important;
        }

        &__text {
            margin-left: 8px;
            font-size: 12px;
            cursor: pointer;
        }
    }

    &-logout {
        margin-left: 30px;
        display: inline-flex;
        align-items: center;
        color: #bfbfbf;
        cursor: pointer;

        &:hover {
            color: #fff !important;
        }

        &__icon {
            font-size: 16px;
        }

        &__text {
            margin-left: 10px;
            font-size: 12px;
        }
    }
}

// .header-project__dropdown {
//     top: 28px !important;

//     .ant-dropdown {}

//     .ant-dropdown-menu-item {
//         padding: 10px 30px !important;
//     }

//     .ant-dropdown-menu-title-content {
//         color: #bfbfbf !important;
//     }
// }