.customer-page {

    &_head {
        background: #ffffff;
        overflow: hidden;
        display: flex;
        height: 92px;
        box-sizing: border-box;
        align-items: center;
        padding: 0 15px;
        border-bottom: 1px solid #efecec;

        // justify-content: space-around;
        &-img {
            width: 52px;
            height: 52px;

            img {
                height: 52px;
            }
        }

        p {
            padding-left: 15px;
            color: #000000;
            font-size: 16px;
        }
    }

    &_info {
        background: #ffffff;
        padding: 20px 16px;

        h4 {
            color: #000000;
            font-size: 16px;
        }

        p {
            padding: 16px 0 0 0;
            font-size: 15px;

            b {
                color: #999999;
                font-weight: 100;
            }
        }
    }

    &_title {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        padding: 20px 16px;
    }

    &_yes {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #91acd5;
        font-size: 14px;
    }

    &_no {
        width: 80px;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
        background: #f48600;
        font-size: 14px;
        margin-right: 24px;
    }

    &_add {
        width: 40px !important;
        height: 40px !important;

        img {
            width: 40px !important;
            height: 40px !important;
        }
    }
    .am-list-item .am-list-line {
        height: 60px;
    }
    
    .am-list-item .am-list-line .am-list-extra {
        justify-content: flex-end;
        display: flex;
    }
    
}

