@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1628581943755') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-air_conditioner_manage:before {
  content: "\e63b";
}

.icon-billing_manage:before {
  content: "\e63c";
}

.icon-auth_manage:before {
  content: "\e63d";
}

.icon-facility_manage:before {
  content: "\e63e";
}

.icon-a-icon_compile1x:before {
  content: "\e63f";
}

.icon-a-icon_delete1x:before {
  content: "\e640";
}

.icon-icon_mode_wet_c:before {
  content: "\e641";
}

.icon-icon_mode_cold_c:before {
  content: "\e642";
}

.icon-icon_mode_hot_p:before {
  content: "\e643";
}

.icon-icon_mode_cold_p:before {
  content: "\e644";
}

.icon-icon_mode_wind_p:before {
  content: "\e645";
}

.icon-icon_mode_wind_c:before {
  content: "\e646";
}

.icon-icon_mode_hot_c:before {
  content: "\e647";
}

.icon-icon_mode_wet_p:before {
  content: "\e648";
}

.icon-icon_cold:before {
  content: "\e649";
}

.icon-icon_hot:before {
  content: "\e64a";
}

.icon-icon_wet:before {
  content: "\e64b";
}

.icon-icon_wind:before {
  content: "\e64c";
}

.icon-icon_electricity:before {
  content: "\e64d";
}

.icon-icon_unchoose2:before {
  content: "\e64e";
}

.icon-icon_choose1:before {
  content: "\e64f";
}

.icon-icon_unchoose1:before {
  content: "\e650";
}

.icon-icon_choose2:before {
  content: "\e651";
}

.icon-a-btn_packup:before {
  content: "\e652";
}

.icon-btn_more:before {
  content: "\e653";
}

.icon-btn_closed:before {
  content: "\e654";
}

.icon-btn_open:before {
  content: "\e655";
}

.icon-icon_day:before {
  content: "\e656";
}

.icon-icon_month:before {
  content: "\e657";
}

.icon-icon_week:before {
  content: "\e658";
}

.icon-icon_year:before {
  content: "\e659";
}

.icon-iocn_section:before {
  content: "\e65a";
}

.icon-icon_add:before {
  content: "\e65b";
}

.icon-menu_switch:before {
  content: "\e65c";
}

