.home-page_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 20px 16px;
    background: #ffffff;
    align-items: center;

    &--image {
        width: 52px;
        height: 52px;
        border: 1px solid #000000;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &--name {
        margin-left: 15px;
    }
}

.home-page_search {
    position: fixed;
    top: 92px;
    left: 0;
    right: 0;
    padding: 9px 16px;

    &--input {
        display: flex;
        background: #ffffff;
        border-radius: 4px;
        align-items: center;
    }

    &--icon {
        width: 36px;
        height: 36px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &--text {
        font-size: 12px;
        color: #cccccc;
    }
}

.home-page_tabs {
    position: relative;
    top: 146px;

    &--list {
        overflow-y: overlay;
        height: calc(100vh - 186px);
    }
}

.am-tabs-default-bar {

    &-tab {
        padding: 7px 0;
        height: 40px;
        line-height: 40px;

        &-active {
            color: #ff7a45;
        }
    }

    &-underline {
        border-color: #ff7a45;
    }
}

.home-page {

    &_list {
        margin-top: 1px;
        height: 100%;
    }

    &_empty {
        margin-top: 200px;
        text-align: center;
        color: #999999;
    }
}

.list-cont {

    &_item {
        position: relative;
        padding: 20px 16px;
        background: #ffffff;

        &:not(:last-child) {
            :after {
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                left: 16px;
                border-bottom: 1px solid #ededed;
                transform: scaleY(0.5);
            }
        }

        &--name {
            justify-content: space-between;
            font-size: 17px;
            color: #333333;
        }

        &--underside {
            text-align: center;
        }

    }

    .item-row {
        display: flex;
        flex-direction: column;
    }

    .item-col {
        display: inline-flex;
        font-size: 15px;
        color: #333333;

        &:not(:first-child) {
            margin-top: 16px;
        }

        &_label {
            flex-basis: 20%;
            color: #999999;
        }

        &_text {
            flex-basis: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
        }

        &_name {
            flex-basis: 65%;
            line-height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
        }

        &_status {
            padding: 4px 14px;
            border-radius: 6px;
            font-size: 12px;

            &--default {
                color: #ff7a45;
            }

            &--success {
                color: #52C41A;
            }

            &--close {
                color: #666666;
            }
        }
    }
}
