.business-page {
    font-size: 16px;
    height: 100%;
    background: #ededed;
    // position: fixed;
    // overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
    &_form {
        &-title {
            color: #999999;
            padding: 16px;
        }

        i {
            font-style: normal;
            color: #f00;
            vertical-align: middle;
            padding-right: 3px;
        }
        &-info{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        &-flex{
            flex: 1;
            padding: 5px;
        }
        &-top{
            background: #fff;
            padding: 5px ;
        }
        &-info{
           
            background: #fff;
           
        }
    }

    .am-list-item .am-list-line .am-list-content {
        color: #bbb;
        margin-left: -11px;
    }

    &_btn {
        width: 343px;
        height: 47px;
        background: #4676bc;
        color: #fff;
        font-size: 18px;
        margin: 34px auto;
        border-radius: 30px;
    }
    .am-list-item.am-input-item {
        padding-left: 0;
        // border-bottom: 1px solid #c3c1c1;
        // border-top: 1px solid #c3c1c1;
    }
    
    .am-list-item.am-list-item-middle .am-list-line {
        padding-left: 10px;
    }
    .am-image-picker-list .am-flexbox{
        margin-bottom: 0;
    }
    .am-flexbox .am-flexbox-item{
        min-width: 100%;
        height: 115px;
    }
    .am-image-picker-list{
        margin-bottom: 0;
       padding: 0 ;
    }
}

