// 主色
$mainColor:#1890FF;

// 辅色
$assistColorOne:#00C3C1;

$assistColorTwo:#AA55FF;

$assistColorThree:#FAAD14;

//状态色
$statusColorSuccess:#52C41A;

$statusColorWarning:#FAAD14;

$statusColorError:#FF4D4D;

$statusColorNormal:#1890FF;